.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1919;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    transition: all 0.5s ease-in;
    z-index: 1000;
}
.menu2{
    position: fixed;
    left: -200px;
    top: 0;
    width: 0;
}
.menu a{
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.social{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    color: white;
    font-size: 30px;
}
.closeText{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 65px;
    right: 100px;
}
.close{
    position: absolute;
    top: 55px;
    right: 30px;
    color: black;
    background-color: white;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20%;
}
.menubtn{
    width: 80px;
    height: 40px;
    margin-left: 15px;
    position: fixed;
    top: 270px;
    right: 10px;
}
.btn{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background-color: rgb(44, 25, 25);
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: rgb(35, 118, 151);
}
.ri{
    color: white;
    font-size: 25px;
}
