.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #1f1e1e;
    color:white;
    height: 65px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.changed a{
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.8px;
} 
.changed a:hover{
  color: rgb(148, 148, 148);
   transform: scale(0.98);
}
.header a:hover{
    color: rgb(148, 148, 148);
    transform: scale(0.98);
}
.header a{
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.8px;
}
.changed a{
  color: white;
  text-decoration: none;
}

.changed{
  overflow: hidden;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: #172B4D;
  color:white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  text-align: center;
}

.rakib{
   font-size: 27px;
   font-family: 'Great Vibes', cursive;
   cursor: pointer;
   margin-left: 18px;
   margin-top: 18px;
}
.links{
  overflow: hidden;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}
.links a{
font-size: 16px;
}