.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    z-index: 1000;
}

.changed{
  z-index: 1000;
  background-color: #3b3b3b;
  color: white;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.logo{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 12px;
    margin: 35px 0 0 35px;
    font-weight: 500;
}
.zo{
    position: fixed;
    top: 15px;
    right: 30px;
}
.zero{
    font-family: cursive;
    font-size: 45px;
    font-weight: 900;
}
.one{
    font-family: cursive;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    top: -10px;
    left: -5px;

}