.info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}
.descon{
    width: 50%;
}
.hiiam{
    font-size: 30px;
    font-weight: 700;
}
.pana{
    width: 75%;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.9;
    text-align: justify;
}
.down{
    background-color: rgb(230, 106, 106);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 12px 15px 12px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    width: 175px;
    opacity:0.8;
    margin-top: 40px;
}
.down:hover{
    opacity:1;
    color:rgb(255, 255, 255);
}
.file{
    font-size: 20px;
    padding-right: 5px;
}
.descon a{
    text-decoration: none;
}

.imoh{
pointer-events: none;
}
.info a img{
    width: 200px;
    filter: grayscale(100%);
}
