.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
}
.jjj{
    font-size: 16px;
    border: 1px solid red;
}
.projectfield{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.jahd{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    margin: 8px;
    border: 2px solid rgb(208, 227, 255);
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.jad:hover .hsk{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.hsk{
    background-color: rgba(255,255,255, 0.9);
    position: absolute;
    top: -750px;
    left: 500px;
    width: 100%;
    height: 100%;
    transform: scale(0.94);
    z-index: 1;
    transition: 0.2s ease-in-out;
    border: 1px solid rgb(204, 204, 204);
}
.appname{
    color: rgb(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 15px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    color: rgb(98, 185, 235);
}
.goeye{
    font-size: 24px;
    position: absolute;
    margin-left: 5px;
    top: -1px;
}
.jad{
    width: 250px;
    height: 350px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.jad img{
    width:100%;
    height: 100%;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    filter: grayscale(100%);
}
.jad img:hover .hsk{
  display: inline-block;
}

small{
    position: absolute;
    bottom: 10px;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    color: rgb(0,0,0,0.8);
    font-size: 11px;
    text-transform: capitalize;
}
.fea{
    font-size: 10px;
    font-weight: 700;
    color: rgb(0,0,0,0.8);
}
.dasna{
    font-size: 11px;
}