.skill{
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 100px;
    padding-bottom: 40px;
}
.skills{
padding-top: 50px;
padding-bottom: 50px;
}
.conskil{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.conskil span{
    background-color: #2A2929;
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    height: 90px;
    text-align: center;
    padding: 10px;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 50%;
}
.conskil span p{
    font-size: 14px;
    padding-bottom: 2px;
}