.edu{
    background-color: #43baff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.fab{
    background-color: white;
    color: rgb(0, 217, 255);
    border-radius: 50%;
    padding: 10px;
    margin-right: 8px;
    width: 60px;
    height: 60px;
}
.dkaj{
    color: white;
    text-transform: uppercase;
}
.sakjd{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.skjcsm{
    padding: 40px;
}
.bauet{
    color: #34D4F1;
    font-size: 19px;
    font-weight: 700;
}
.skjcsm{
    width: 470px;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    margin: 15px;
}
.dates{
    background-color: #11CDEF;
    color: white;
    width: 190px;
    font-size: 11px;
    padding: 3px;
    border-radius: 3px;
    text-transform: uppercase;
}
.ssj{
    font-size: 12px;
    color: rgb(48, 95, 42);
}
.location{
    font-size: 19px;
    color: green;

}
.toto{
    font-size: 11px;
    color: rgb(117, 117, 117);
}
.bach{
    font-size: 14px;
    color: #4B4B71;
}
.skcn{
    width: 80%;
    margin-top: 50px;
    margin-left: 35px;
}
.ideal{
    padding-bottom: 10px;
}