@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
  position: relative;
  min-height: 100%;
}
*{
  font-family: 'Inter', sans-serif;
}
/* mobile */
@media only screen  and (min-width:320px) and (max-width:480px){
  .info{
    display: flex;
    flex-direction: column;
  }
  .info a img{
    margin-top: 65px;
  }
  .info .descon{
    width: 83%;
}
.info .descon .file{
  transform: scale(1.2);
}
.info .descon .down{
  font-size: 14.5px;
  width: 140px;
}
.info .pana{
    width: 100%;
    text-align: justify;
}
.do .skkjs{
 font-size: 16px;
 width: 95%;
}
.do .anima{
  /* border: 1px solid red; */
}
.do .anima a img{
width:80%;
margin-top: 10px;
margin-bottom: 35px;
}
.do .adjj{
  margin-top: 20px;
    width: 85%;
    padding: 5px;
    line-height: 26px;
}

.do .anima{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
}
/* ipad */
@media only screen and (min-width:768px ) and (max-width:1024px)
{}
/* ipad pro */
@media only screen and (min-width:1024px) and (max-width:1366px)
{}
/* desktop */
@media only screen and (min-width:1281px)
{}