.footer{
    background-color: #1f1e1e;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 60px solid rgb(75, 75, 75);
    border-right: 60px solid rgb(75, 75, 75);
    position: relative;
}
.btnf{
    position: absolute;
    top: 60px;
    left: -46px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.upa{
    font-size: 17px;
    color: rgb(38, 39, 38);
    position: relative;
    top: -1.2px;
}
.copyright{
    font-size: 12px;
}
.copyr{
    position: relative;
    top: -1px;
}
.foo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    margin: 20px;
}
.cli{
    color: white;
    font-size: 25px;
    cursor: pointer;
}