.footer{
    background-color: black;
    background-color: rgb(255, 217, 0);
    height: 300px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
.contact{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.foo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}
.bold{
  font-weight: 600;
}
.maplink a{
    color: black;
    text-decoration: none;
}
.top{
    text-align: center;
    color: rgb(70, 29, 29);
    background-color: rgb(252, 252, 252);
    width: 70px;
}
.creator{
    color: black;
    font-size: 13px;
}