.do{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.djs{
    padding-bottom: 10px;
    color: #32325D;
}
.skkjs{
text-align: center;
font-size: 18px;
color: #32325D;
opacity: 0.8;
}
.anima{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.anima a{
    pointer-events: none;
}
.anima a img{
width:90%;
}
.adjj{
    width: 50%;
    padding: 5px;
    line-height: 26px;
}
.adjj p{
    color: #32325D;
    opacity: 0.7;
}
.lsj{
    position: relative;
    top: 0;
    color: #FFAc34;
    padding-right: 5px;
    font-size: 20px;
    opacity: 1;
}